{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 160,
  "tabWidth": 2,
  "semi": true
}
